@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    color: #636464;
}

p {
    line-height: 1.5rem;
}

#navigation {
    padding-left: 15px;
    padding-right: 15px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-wrapper {
    background-color: #01affa;
    color: #ffffff;
}

.menu {
    display: none;
}

ul.menu-list {
    list-style: none;
}

.menu-list {
    display: flex;
}

.menu-list .menu-item {
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 10px; 
    font-size: 1rem;
}

.menu-list .menu-item a {
    color: #ffffff;
    text-decoration: none;
}

.menu {
    
}

.nav-brand {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.menu-icon {
    font-size: 22px;
}

.btn {
    display: inline-block;
    color: #ffffff;
    background-color: rgba(255, 255, 255, .1);
    border: 0;
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
}

input.form-control {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 15px;
    font-size: 1rem;
    border-radius: 4px;
}

input.form-control:focus {
    border: 1px solid #ffffff;
    outline: 0;
}

input.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff;
}
input.form-control::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff;
}
input.form-control:-ms-input-placeholder { /* IE 10+ */
    color: #ffffff;
}
input.form-control:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
}

.form-control {
    margin-bottom: 15px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header-wrapper {
    background-image: url('background-header.jpg');
    background-size: cover;
    background-position: center;
}

#header {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 80px;
    color: #ffffff;
    text-align: center;
}

.title .title-text {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 8px;
}

.title .title-lead {
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1.6rem;
    margin-top: 24px;
    margin-bottom: 16px;
}

.app-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.app-links .app-link {
    margin-bottom: 20px;
}

.app-links .app-link .btn {
    border-radius: 30px;
    width: 200px;
}

.app-links .app-link .btn {
    color: #ffffff;
    text-decoration: none;
}

.app-image {
    margin-top: 48px;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-gray {
    background-color: #f8fafc;
}

.section-dark-gray {
    background-color: #333333;
    color: #636464;
}

.section-primary {
    background-color: #01affa;
    color: #ffffff;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.section-title h2 {
    margin-bottom: 15px;
}

ul.advantages-list {
    list-style-type: none;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.advantages-items .advantages-item {
    display: flex;
    margin-bottom: 50px;
}

.advantages-items .advantages-item .advantages-detail h4 {
    font-size: 1.3rem;
    color: #01affa;
    margin-bottom: 10px;
    font-weight: 600;
}

.advantages-items .advantages-item  .advantages-icon {
    font-size: 60px;
    min-width: 100px;
    text-align: center;
    color: #01affa;
}

.case-wrapper.container {
    padding-left: 0;
    padding-right: 0;
}

.case-image-wrapper {
    width: 100%;
    height: 400px;    
}

.case-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.case-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.case-image img {
    width: 400px;
}

.case-info {
    box-sizing: border-box;
    padding: 48px;
    background-color: #01affa;
    color: #ffffff;
}

.case-info .case-author {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.3rem;
}

ul.peoples {
    list-style: none;
}

.peoples {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.peoples .people {
    padding: 15px;
    margin-bottom: 15px;
    background-color: #f8fafc;
}

.peoples .people .people-image {
    width: 100%;
}

.peoples .people .headline {
    margin-top: 15px;
    text-align: center;
    font-size: 0.8rem;
}

.peoples .people .headline .headline-title {
    font-weight: bold;
}

.social-links-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

ul.social-links {
    list-style: none;
}

.social-links {
    display: flex;
}

.social-links .social-link {
    padding: 5px;
    margin: 0 5px;
    background-color: #eff2f8;
}

.social-links .social-link a {
    color: #01affa;
    font-size: 1.2rem;
}

.newsletter-label {
    text-align: center;
    margin-bottom: 40px;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer .copyright {
    text-align: center;
}

ul.footer-menu {
    list-style: none;
}

.footer-menu {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.footer-menu-item {
    padding: 0 10px;
    text-align: center;
} 

.footer-menu-item a {
    color: #636464;
    text-decoration: none;
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    #navigation {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .menu {
        display: block;
    }
    .menu-icon {
        display: none;
    }
    .app-links {
        flex-direction: row;
        justify-content: center;
    }
    .app-links .app-link {
        margin-right: 10px;
        margin-bottom: 0px;
    }
    .peoples {
        flex-direction: row;
        justify-content: space-between;
    }
    .peoples .people {
        flex-basis: 320px;
    }
    .form-control {
        margin-bottom: 0;
        margin-right: 15px;
    }
    .newsletter-form {
        flex-direction: row;
        justify-content: center;
    }
    .newsletter-email {
        width: 40%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    #header { 
        flex-direction: row;
        align-items: center;
    }
    .header-wrapper {
        padding-top: 40px;
    }
    .header-text, .app-image {
        flex-basis: 50%;
    }
    .header-text {
        text-align: left;
    }
    .app-image {
        text-align: right;
    }
    .app-links {
        justify-content: left;
    }
    .app-image {
        margin-top: 0;
    }
    .peoples .people {
        flex-basis: 180px;
    }
    .case-box {
        flex-direction: row;
    }
    .case-image-wrapper, .case-info {
        flex-basis: 50%;
    }
    .case-image-wrapper {
        height: 290px;
    }
    .advantages-list {
        flex-direction: row;
    }
    .advantages-item {
        flex-basis: 50%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    .header-wrapper {
        padding-top: 60px;
    }
    .peoples .people {
        flex-basis: 220px;
    }
    .case-box {
        height: 320px;
    }
    .case-image-wrapper, .case-info {
        height: 100%;
    }
}